<div id="content-container">
    <div id="map-container">

        <div id="map-configuration-container">
            <div id="input-start" class="input-section">
                <p class="section-title">Starting Point</p>
                <div class="map-configuration-input-container">
                    <img class="map-configuration-input-icon" src="../../assets/images/search-icon.png">
                    <input #inputStart spellcheck="false" (focus)="inputStart.value.length > 1 ? inputStartAutocomplete.style.display='block' : null" (input)="searchStartPoint(inputStart.value)" placeholder="Enter Starting Point" class="map-configuration-input">
                </div>

                <div #inputStartAutocomplete class="input-autocomplete-container-outer">
                    <div class="input-autocomplete-container" *ngIf="startingPointAutocompleteResults.length > 0">
                        <div class="input-autocomplete" *ngFor="let result of startingPointAutocompleteResults" (click)="selectStartPoint(result)">
                            <p class="input-autocomplete-name" *ngIf="result.type == 'POI'">{{result.poi.name}}</p>
                            <p class="input-autocomplete-name" *ngIf="result.type != 'POI'">{{result.address.streetName}}</p>
                            <p class="input-autocomplete-address" *ngIf="result.type != 'Geography'">{{result.address.freeformAddress}}</p>

                            <p class="input-autocomplete-name" *ngIf="result.type == 'Geography'">{{result.address.freeformAddress}}</p>
                        </div>
                    </div>
                </div> 
            </div>

            <div id="input-separator">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>

            <div id="input-end" class="input-section">
                <p class="section-title">Ending Point</p>
                <div class="map-configuration-input-container">
                    <img class="map-configuration-input-icon" src="../../assets/images/search-icon.png">
                    <input #inputEnd spellcheck="false" (focus)="inputEnd.value.length > 1 ? inputEndAutocomplete.style.display='block' : null" (input)="searchEndPoint(inputEnd.value)" placeholder="Enter Ending Point" class="map-configuration-input">
                </div>

                <div #inputEndAutocomplete class="input-autocomplete-container-outer">
                    <div class="input-autocomplete-container" *ngIf="endingPointAutocompleteResults.length > 0">
                        <div class="input-autocomplete" *ngFor="let result of endingPointAutocompleteResults" (click)="selectEndPoint(result)">
                            <p class="input-autocomplete-name" *ngIf="result.type == 'POI'">{{result.poi.name}}</p>
                            <p class="input-autocomplete-name" *ngIf="result.type != 'POI'">{{result.address.streetName}}</p>
                            <p class="input-autocomplete-address" *ngIf="result.type != 'Geography'">{{result.address.freeformAddress}}</p>

                            <p class="input-autocomplete-name" *ngIf="result.type == 'Geography'">{{result.address.freeformAddress}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <button id="go-button" (click)="createRoute()">Go</button>
        </div>

        <div id="map">
            <div #mapNotificationContainer id="map-notification-container"></div>
        </div>

        <div id="weather-container" style="background-image: url('../../assets/images/overcast.jpeg')">
            <div id="weather-container-gradient">
                <p class="section-title" style="margin-top: 5px;">Departure Conditions</p>
                <p id="weather-forcast">Overcast</p>
                <p id="temperature">25 °C</p>
            </div>
        </div>
    </div>

    <div id="info-container">
        <p class="section-title">Ride Details</p>
        
        <div #infoContentContainer id="info-content-container">
            <p #distanceKilometers id="distance-kilometers">16 Kilometers</p>
            <p #distanceMiles id="distance-miles">5.6 Miles</p>

            <div id="info-snippet-container">
                <div class="info-snippet">
                    <p class="info-snippet-title">Time Elapsed</p>
                    <p #rideDuration class="info-snippet-text">1 Hour 12 Minutes</p>
                </div>

                <div class="info-snippet">  
                    <p class="info-snippet-title">Exercise</p>
                    <p #caloriesBurned class="info-snippet-text">597 Calories Burned</p>
                </div>

                <div class="info-snippet">
                    <p class="info-snippet-title">Other Information</p>
                    <p #altitudeChange class="info-snippet-text">210 Meters Above Sea Level</p>
                </div>
            </div>

            <p #alertTitle class="section-title">Alerts</p>

            <div #alertContainer id="alert-container">
                <div class="alert severe">
                    Severe Thunderstorm Warning
                </div>

                <div class="alert moderate">
                    Poor Air Quality
                </div>

                <div class="alert moderate">
                    Sunset Will Occur During Trip
                </div>
            </div>
        </div>
    </div>
</div>