<div id="content-container">
    <div id="map-container"></div>

    <div id="info-container">
        <p class="section-title">Ride Details</p>
        <p id="distance-kilometers">16 Kilometers</p>
        <p id="distance-miles">5.6 Miles</p>

        <p class="section-subtitle">Time Elapsed</p>
        <p class="section-text">1 Hour 12 Minutes</p>
        <p class="section-text">9:45 PM Arrival</p>

        <p class="section-subtitle">Exercise</p>
        <p class="section-text">597 Calories Burned</p>

        <p class="section-subtitle">Other Information</p>
        <p class="section-text">210 Meters Above Sea Level</p>

        <p class="section-subtitle">Alerts</p>
        <div id="alert-container">
            <div class="alert severe">
                Severe Thunderstorm Warning
            </div>

            <div class="alert moderate">
                Poor Air Quality
            </div>

            <div class="alert moderate">
                Sunset Will Occur During Trip
            </div>
        </div>
    </div>
</div>