<div id="content-container">

    <p class="article-title">Explore a Whole New World of Cycling With RideWise.</p>
    <p class="article-subtitle">by Daniel Long</p>
    <p class="article-paragraph">
        Simply set a starting point, ending point, and hit the go button. RideWise will display a biking route, as well as provide data on weather, how long the ride will take, and elevation.
    </p>
    <p class="article-paragraph">
        RideWise is a web application written in AngularJS with the goal of making bike rides as easy as possible to plan. 
        It uses <a href="https://www.weatherapi.com/">WeatherAPI</a> for any weather related information, <a href="https://www.open-elevation.com/">open-elevation</a> for altitude information, and the <a href="https://developer.tomtom.com/">TomTom API</a> for the map and routing calculation.
        Make sure to check out the <a href="https://github.com/EmpiricalCode/ridewise">Github</a> repository!
    </p>
</div>