<!-- NAV BAR -->
<div id="nav-bar">
  <div id="nav-bar-left">
    <div onclick="window.location=window.location.origin" id="site-logo">
      <img draggable="false" src="../assets/images/logo.png" width="33px" height="33px">
      <p id="site-title"><span style="color: rgb(56, 89, 137);">Ride</span><span style="color: rgb(111, 144, 194);">Wise</span></p>
    </div>

    <div id="theme-switch">
      <label id="theme-switch-label">
        <input #themeCheckbox id="theme-switch-checkbox" (click)="toggleTheme(!themeCheckbox.checked)" type="checkbox">
        <span id="theme-switch-slider"></span>
      </label>
    </div>
  </div>

  <div id="nav-bar-right">
    <a href="/explore" [routerLink]="'/explore'" [routerLinkActive]="'nav-bar-link-active'">Explore</a>
    <a href="/about" [routerLink]="'/about'" [routerLinkActive]="'nav-bar-link-active'">About</a>
    <!-- <input type="radio" id="test"> -->
  </div>
</div>

<!-- PAGE CONTENT -->
<router-outlet></router-outlet>